<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>借用实验室管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="static/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="static/layuiadmin/style/admin.css" media="all">
<!--  <script src="static/js/jquery-2.1.3.min.js"></script>-->
</head>
<body>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>实验室管理</cite></a>
    <a><cite>借用实验室管理</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header card-title">借用实验室管理</div>
        <div class="layui-card-body">
          <form class="layui-form" lay-filter="component-form-group" id="search_submits" onsubmit="return false">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-useradmin-formlist">
              <div class="layui-inline">
                <a class="layui-btn btn-add btn-default" id="btn-add">添加</a>
              </div>
            </div>
<!--            <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">-->
<!--            -->
<!--            </div>-->
          </form>
          <table class="layui-hide" id="test-table-cellEdit" lay-filter="test-table-cellEdit"></table>
          <script type="text/html" id="test-table-operate-barDemo">
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">归还实验室</a>
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="static/layui.js"></script>
<script th:inline="none">
  layui.config({
    base: 'static/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'table','form'], function(){
    var $ = layui.$;
    var table = layui.table;
    var form = layui.form;
    var exportData;
    var loading = layer.load();
    var ins1 = table.render({

      elem: '#test-table-cellEdit'
      ,method:'post'
      , url: '/selectjysysgl'
      , cols: [[
         {field: 'sysname', title: '实验实名称', width: 140,sort:true}
        , {field: 'lc', title: '所在楼层', width: 160,sort:true}
        , {field: 'fzrid', title: '附件', width: 140,sort:true,templet:function (d) {
            if (d.fzrid)
              return '<a href="' + d.fzrid + '" download="文档">下载</a>'
            else
              return '无附件'
          }}
        , {field: 'bh', title: '实验室编号', width: 160,sort:true}
        , {field: 'lxid', title: '实验室类型', width: 160,sort:true}
        , {field: 'sfyy', title: '是否预约', width: 160,sort:true}
        , {width: 178, align: 'center', fixed: 'right', toolbar: '#test-table-operate-barDemo'}
      ]]
      , done: function (res, curr, count) {
        layer.close(loading);
        exportData = res.data;
      }
    })

    //监听工具条
    table.on('tool(test-table-cellEdit)', function(obj){
      var data = obj.data;
      if(obj.event === 'del'){
        if (data.sfyy==='预约未审核')
          layer.msg('请等待审核通过',{icon:2});
        else
        layer.confirm('确定归还么', function(index){
          $.ajax({
            url:"/ghsys",
            data:{id:data.id},
            type:"post",
            dataType:"json",
            success: function (result) {
              layer.msg('已归还',{icon:1});
              obj.del();
            },
            error:function (e) {
              layer.msg('归还失败',{icon:2});
            }
          })
          layer.close(index);
        });
      }
    });

    $('#btn-add').on('click', function () {
      layer.open({
        type: 2,
        title: '借用实验室',
        maxmin: true,
        area: ['420px', '330px'],
        shadeClose: false, //点击遮罩关闭
        content: 'Jumpto?url=insert/jysysgl',
      });
    });
  });
</script>
</body>
</html>